# Compiler/linker output.
#
*.d
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

*.l
*.l.cpp-options

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make

# Generated .gitignore files.
#
.gitignore
